# Вставить этот код после директив 
# RewriteEngine on
# и
# RewriteBase

RewriteCond %{REQUEST_URI} [A-Z] [OR]
RewriteCond %{REQUEST_URI}  \/\/+
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule (.*) seo-normalize-url.php [QSA,L]